<!DOCTYPE html>{% load static i18n %}
<html>
<head>
    <meta charset="utf-8">
    <title>PectoStudio - {% trans "Login" %}</title>
    <link href='http://fonts.googleapis.com/css?family=Exo+2:200,400,700&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/login.css" %}" type="text/css" media="screen">
</head>
<body>
    {% get_current_language as LANGUAGE_CODE %}
    <div id="mainContent">
        <div id="name-n-logo">
            <img src="{% static "img/logo.png" %}" alt="PectoStudio">
            <h1>
                <span style="color: #E64E32">Pecto</span><!--
             --><span style="color: #333333">Studio</span>
            </h1>
        </div>
        <div id="line"></div>
        <div id="login-form">
            <h1>{% trans "Login" %}</h1>
            {% if bad_login %}
            <div>שגיאת התחברות</div>
            {% endif %}
            <form method="post" action="">{% csrf_token %}
                <input type="text" name="username" placeholder="{% trans "Username" %}" autofocus autocomplete="off" required>
                <input type="password" name="password" placeholder="{% trans "Password" %}" required>
                <input type="submit" value="{% trans "Login" %}">
            </form>
            <p><a href="#" onclick="alert('{% trans "Please talk with the teacher." %}')">{% trans "Forgot your password?" %}</a></p>
        </div>
    </div>
</body>
</html>