{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}ראשי{% endblock %} - IDE</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/main.css" %}">
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/ide_popups.js" %}"></script>
        <script src="{% static "js/ide_console.js" %}"></script>
        <script src="{% static "js/ide_files.js" %}"></script>
        <script src="{% static "js/numberfy.js" %}"></script>
    </head>
    <body>
        <header>
            <div id="doc-title">PectoStudio 0.31 ALPHA  -  <span id="filename">N/A</span></div>
            <nav>
                <ul>
                    <li>
                        <a href="#">קובץ</a>
                        <ul>
                            <li><a href="#" onclick="newFile()">צור</a></li>
                            <li><a href="#" onclick="saveFile()">שמור</a></li>
                            <li><a href="#" onclick="deleteFile()">מחק</a></li>
                            <li><a href="logout/">התנתק</a></li>
                        </ul>
                    </li><li>
                        <a href="#">הגדרות</a>
                        <ul>
                            <li><a href="#" onclick="popup(0,'בדיקה','שלום עולם!')">שלום עולם</a></li>
                            <li><a href="#" onclick="printf(scanf('מה ברצונך לעשות?'))">דוגמאת פלט</a></li>
                            <li><a href="#">בדיקה 2</a></li>
                            <li><a href="#">בדיקה 2</a></li>
                            <li><a href="#">בדיקה 2</a></li>
                            <li><a href="#">בדיקה 2</a></li>
                            <li><a href="#">בדיקה 2</a></li>
                        </ul>
                    </li><li>
                        <a href="#">מראה</a>
                        <ul>
                            <li><a href="#">בדיקה 3</a></li>
                            <li><a href="#">בדיקה 3</a></li>
                            <li><a href="#">בדיקה 3</a></li>
                        </ul>
                    </li><li>
                        <a href="#">אודות</a>
                        <ul>
                            <li><a href="#">בדיקה 4</a></li>
                            <li><a href="#">בדיקה 4</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <aside id="sidebar">
            <ul>
                {% for file in file_list %}
                <li><a href="#" onclick="loadFileByName(this)">{{ file }}</a></li>
                {% endfor %}
            </ul>
        </aside>
        <div id="dialog-overlay"></div>
        <div id="dialog-box">
            <div id="title"></div>
            <div id="message"></div>
        </div>
        <div id="main"> <!-- main object -->
            <textarea id="editor"></textarea>
            <script>
                $("#editor").numberfy();
            </script>
        </div>
        <footer>
            <div id="cons-title">פלט / קלט</div>
            <textarea id="console" disabled></textarea>
        </footer>
    </body>
</html>
