{% extends "base.html" %}
{% load static i18n humanize %}{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block title %}{% trans "Forum" %}{% endblock %}
{% block added-nav-links %}
    <li><a href="{% url "new-messages" %}">{% trans "Post a message" %}</a></li>
{% endblock %}
{% block data %}
    <div id="forum">
        <ul id="message-list">
            {% for message in message_list %}
            <li><a href="message/{{ message.id }}/">
                <h1>{{ message }}</h1>
                <div>
                    {% blocktrans with author=message.author %}Posted by {{ author }}{% endblocktrans %}, {{ message.datetime|naturaltime }}.
                    {% blocktrans with comment_number=message.get_comments|length %}{{ comment_number }} comments.{% endblocktrans %}
                </div>
            </a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
