{% extends "base.html" %}
{% load static i18n humanize %}{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block title %}{{ message.title }}{% endblock %}
{% block added-nav-links %}
    <li><a href="/forum/">{% trans "All messages" %}</a></li>
{% endblock %}
{% block data %}
    <div id="forum">
        <div id="main-message">
            <h1>{{ message }}</h1>
            <h2>{% blocktrans with author=message.author.get_name %}Posted by {{ author }}{% endblocktrans %}</h2>
            <h3>{{ message.datetime|naturaltime }}</h3>
            <div>{{ message.data|safe }}</div>
        </div>
        <ul id="comments">
            <h2>{% trans "Comments" %}:</h2>
            {% if message.get_comments|length > 0 %}
            {% for comment in message.get_comments %}
            <li>
                <div>{% blocktrans with author=comment.author.get_name %}Posted by {{ author }}{% endblocktrans %}, {{ comment.datetime|naturaltime }}</div>
                <div>{{ comment|safe }}</div>
            </li>
            {% endfor %}
            {% else %}
            <div>{% trans "There is no comments" %}</div>
            {% endif %}
        </ul>
        <form method="post">{% csrf_token %}
            <h2>{% trans "Write a comment" %}...</h2>
            <textarea style="min-height: 200px" name="data"></textarea>
            <input type="submit" value="{% trans "Post" %}">
        </form>
    </div>
{% endblock %}
